<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Lista Telefonica</title>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr />
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
    </div>
    <script src="lib/angular/angular.min.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "João", telefone: "999999999", cor: "blue"},
                {nome: "Leonardo", telefone: "999998888", cor: "yellow"},
                {nome: "Pedro", telefone: "999997777", cor: "red"},
            ];
            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 41, categoria: "Celular"},
                {nome: "GVT", codigo: 25, categoria: "Fixo"},
                {nome: "Embratel", codigo: 21, categoria: "Fixo"},
            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if(!contato.selecionado) return contato;
                });
            }
            $scope.isContatoSelecionado = function (contatos) {
               return contatos.some(function(contato) {
                    return contato.selecionado;
                })
            }
        });
    </script>
</body>
</html>