<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AngularJS</title>
</head>
<body ng-app>
    <div class="container">
        <div class="well">
            <h1>Ocorrências de zumbis</h1>
        </div>
        <form name="form">
            <div class="form-group">
                <label>CEP</label>
                <input ng-model="cep" type="text" class="form-control" />
                {{cep}}
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <input ng-model="bairro" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Número de ocorrências</label>
                <input ng-model="ocorrencias" required type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
    <script src="node_modules/angular/angular.js"></script>
</body>
</html>