/* Header */

.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    align-self: flex-end;
    
}

@media (min-width: 1024px) {
    .header {
        width: 24px;
    }
}

.nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: 'Circular Bold';
    font-size: 8px;
    color: #000;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left center;
    padding-top: 35px;
    width: 26vw;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    padding-right: 20px;
    cursor: pointer;
    font-family: "CircularBld",sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

.nav__item:hover {
    color: #13d675;
}

.nav__item a {
    text-decoration: none;
    font-family: "CircularBld",sans-serif;
    font-size: 11px;
    color: #fff;
}

.nav__item a:hover {
    color: #13d675;
}

.nav__item::before {
    content: '';
    display: flex;
    justify-content: center;
    flex: 1;
    height: 1px;
    background: none;
    transform: translateX(-30px);
}

/* Films Container */

.container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
}

.films-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 78vh;
    width: 65vw;
    background: #000;
    opacity: 0.9;
    overflow-y: auto;
}

.films-container::-webkit-scrollbar {
    width: 6px;
   }
 
   .films-container::-webkit-scrollbar-thumb {
     background: #888; 
   }
   
   .films-container::-webkit-scrollbar-thumb:hover {
     background: #555; 
   }

/* Films */

.films {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    position: relative;
    text-align: center;
}

.films__title {
    padding-top: 10px;
}

.films__director {
    font-size: 11px;
    padding-bottom: 20px;
}

.films__producer {
    font-size: 11px;
    padding-bottom: 20px;
}

.films__release {
    font-size: 11px;
    padding-bottom: 20px;
}

.films-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0  0 10px;
    color: #fff;
}

/* Info */

.info {
    width: 49px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.info img {
    width: 36px;
    cursor: pointer;
}