<div class="films">
    <h3 class="films__title">{{ vm.titleFilm }}</h3>
    <div class="films-box">
        <p class="films__director">Director: {{ vm.directorFilm }}</p>
        <p class="films__producer">Producer: {{ vm.producerFilm }}</p>
        <p class="films__release">Release: {{ vm.releaseFilm }}</p>
        <info 
            abrir-modal="vm.abrirModal">
        </info>
        <modal
         is-open="vm.isOpen"
         abrir-modal="vm.abrirModal"
         receber-sinopse="vm.opening_crawl"
        >
        </modal>
    </div>
</div>