<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <div ng-controller="mainController">
    <div>
      <label>What is your twitter handle?</label>
      <input type="text" ng-model="handle" />
    </div>

    <div class="alert" ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters }" ng-show="handle.length !== characters">
      <div ng-show="handle.length < characters">
          You have less than 5 characters!
      </div>
      <div ng-show="handle.length > characters">
        You have more than 5 characters!
      </div>
    </div>

    <hr />

    <h1>google.com/{{ lowercaseLetter() }}</h1>

    <h3>Rules</h3>
    <ul>
      <li ng-repeat="rule in rules">
        {{rule.rulename}}
      </li>
    </ul>
  </div>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script> 
  <script src="src/app.js"></script>
</body>

</html>